<a href="{% url 'job-list' %}">job list</a>
<hr/>
<h1>{{ object}}</h1>
<p>Date: {{ object.added }}</p>
{% if object.output_path %}
<p><a href='/maplearn/{{ object.output_path }}/rapport_benchmark.html'>Résultat</a></p>
{% endif %}
